<x-main>
    <div>
        <div class="text-lg my-3">
            Hello, @{{.name}}.
        </div>
        <div class="text-lg my-3">
            You have requested to change your password. Please proceed with following link:
        </div>
        <a href="@{{.link}}" class="text-gray-300 hover:text-white">@{{.link}}</a>
        <div class="text-lg my-3">
            The link will expire in @{{.time}}.
        </div>
        <div class="text-lg my-3">
            Thank you for you decision to choose Apodeixis.
        </div>
        <div class="text-lg my-3">
            Can't recognize this activity? - simply ignore this letter.
        </div>
        <div class="text-lg my-3">
            With best regards,<br>Apodeixis Team.
        </div>
    </div>
</x-main>